body {
  background: black;
  color: white;
}

.BtnContainer {
  float: left;
  position:relative;
  width:200px;
  height:200px;
}

.btn {
  color: black;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  font-size: 48px;
  font-weight: bolder;
  line-height: 100px;
  text-align: center;
  background: white;
  border: solid 8px blue;
  border-radius: 50%;
  transition: 0.2s;
}

.btn:after {
  content: "R";
}

.btn-ice {
  border-color: blue;
}

.btn-hot {
  border-color: red;
}

.btn-scale {
  width: 130px;
  height: 130px;
  line-height: 130px;
  font-size: 72px;
  top: 35px;
  left: 35px;
}

.btn-scale:after {
  content: "L";
}

